body {
    background: rgb(72, 79, 87);
}
.camaroPic {
    padding: 0 60px 0 0;
    background: black;
}

.fix {
    padding: 0;
    background: black;
    color: white;

}

.titleDiv {
    padding-top: 20px;
}

.titleDiv p{
    margin: 50px 0 0 0;
    padding-left: 100px;
}

.mainRow {
    background: rgb(72, 79, 87);
}

.mainArea {
    background: lightgray;
    padding: 20px 40px 20px 40px;
}

.brdTest {
    border: 1px solid black;
}

.questionArea {
    padding-top: 10px 
}

.choicesArea {
    padding-top: 30px 

}

.choiceButtons {
    width:250px;
    font-size: 24px;

}

.buttonArea {
    text-align: center;
}

.score {
    font-size: 40px;
    color: black;
    font-weight: 700;
    text-align: center;
}

.resetBtn {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 2px solid black;
    margin-top: 20px;
}